*
*/

!.gitignore
!README.md
!.env.example

!docker-compose.yml

!.github
.github/*

!secrets_example
!secrets_example/*

!appdata
appdata/*

!appdata/traefik2
appdata/traefik2/*
!appdata/traefik2/*.example
!appdata/traefik2/rules
appdata/traefik2/rules/*
!appdata/traefik2/rules/*.example
!appdata/traefik2/rules/web
appdata/traefik2/rules/web/*
!appdata/traefik2/rules/web/*.example
!appdata/traefik2/rules/toml
appdata/traefik2/rules/toml/*
!appdata/traefik2/rules/toml/*.example
!appdata/traefik2/rules/cloudserver
appdata/traefik2/rules/cloudserver/*
!appdata/traefik2/rules/cloudserver/*.example
!appdata/traefik2/rules/cloudserver/tls-opts.yml
!appdata/traefik2/rules/cloudserver/middlewares.yml
!appdata/traefik2/rules/cloudserver/middlewares-chains.yml

